{% extends 'blog/base.html' %}



{% block content3 %}
    <div class="event">
        <h2>Работы</h2>
        <p>
           <i class="pe-7s-ribbon"></i>
        </p>
    </div>
      {% for page in object_list.1.pages.all %}
      <h3>{{ object_list.1.name }}</h3>
      <ul>
          <li><a href="pages/{{ page.url }}">{{ page.title }}</a></li>
        </ul>
      {% endfor %}
      {% for page in object_list.2.pages.all %}
      <h3>{{ object_list.2.name }}</h3>
      <ul>
          <li><a href="pages/{{ page.url }}">{{ page.title }}</a></li>
        </ul>
      {% endfor %}
{% endblock %}
